extends layouts/main

block content 
  .container
    h1.app-title Cat Search
    .select-container
      .select-wrapper
        button#dropdown-button.dropdown-button 請選擇品種
        #options.hidden.multi-select-dropdown__options
          .multi-select-dropdown__options__option
            input(type="checkbox")
            label.multi-select-dropdown__label 選項1 
          .multi-select-dropdown__options__option
            input(type="checkbox")
            label.multi-select-dropdown__label 選項2 
      .select-wrapper
        select#orderSelect.order-select(name="orderSelect")
          option(value="DESC") 由新到舊
          option(value="ASC") 由舊到新
          option(value="RAND") 隨機
    #image-grid.image-grid
      #col1.col
        .card
          img.card__img(src="https://cdn2.thecatapi.com/images/0SxW2SQ_S.jpg")
          p York Chocolate
      #col2.col
        .card
          img.card__img(src="https://cdn2.thecatapi.com/images/7_rjG2-pc.jpg")
          p York Chocolate
      #col3.col
        .card
          img.card__img(src="https://cdn2.thecatapi.com/images/7pCnjXd47.jpg")
          p York Chocolate
    #load-more.load-more-button Load more...