* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.select-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.select-wrapper {
  position: relative;
  width: fit-content;
  border: 1px solid #999999;
  border-radius: 4.29px;
}

.select-wrapper::after {
  content: "";
  background-image: url("assets/dropdown_icon.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Makes it non-clickable */
}

.order-select {
  -webkit-appearance: none; /* Removes default styling for WebKit browsers */
  -moz-appearance: none; /* Removes default styling for Mozilla browsers */
  appearance: none; /* Removes default styling */
  border: none;
  border-radius: 4.29px;
  /* Ensure the select width extends beyond the native arrow */
  width: 100%;
  padding: 10px;
  padding-right: 30px; /*Make space for the custom arrow*/
  line-height: 1;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  width: 100%;
  border-radius: 4.29px;
  line-height: 1;
  padding: 10px;
  padding-right: 30px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
  max-width: 768px;
  padding: 1rem;
}

.multi-select-dropdown__options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  top: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.multi-select-dropdown__options__option {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hidden {
  display: none;
}

.multi-select-dropdown__label {
  text-wrap: nowrap;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin: 1rem;
  max-width: 768px;
}

.card {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 16px;
}

.card__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 8px;
}

.load-more-button {
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 4.29px;
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 4.29px;
  display: inline-flex;
  cursor: pointer;
}

.drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow: scroll;
}

.drawer.open {
  transform: translateX(0);
}

.drawer__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.drawer__name-origin{
  display: flex ;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 10px 0;
}

.drawer__name-origin__name {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.drawer__name-origin__origin {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  color: #747474;
}

.drawer__horizontal-sep {
  border-top: 1px solid #e5e5e5;
  margin: 0.5rem 0px;
}

.drawer__age-weight__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.drawer__age-weight__number {
  font-weight: 700;
}

.drawer__age-weight__label {
  font-weight: 500;
  color: #747474;
}

.drawer__age-weight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "roboto", sans-serif;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
}

.drawer__age-weight__vertical-sep {
  border-left: 1px solid #e5e5e5;
  height: 38px;
}

.drawer__personality {
  margin: 16px;
}

.drawer__personality__title {
  font-size: 14px;
  font-weight: 600;
  font-family: "roboto", sans-serif;
}

.drawer__personality__tags {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 12px;
}

.drawer__personality__tags__tag {
  font-size: 12px;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #efedff;
  color: #2e1cc4;
}

.drawer__stats {
  display: flex;
  flex-direction: column;
}

.drawer__stats__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 16px;
  justify-content: space-between;
}

.drawer__stats__item__title {
  font-size: 14px;
  font-weight: 600;
  font-family: "roboto", sans-serif;
}

.drawer__stats__item__bar {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  width: 204px;
  height: 12px;
}

.drawer__stats__item__bar__fill {
  background: linear-gradient(270deg, #2e1cc4 4.58%, #8846db 100%);
  width: 50%;
  height: 8px;
  border-radius: 20px;
  position: relative;
  top: 1px;
  left: 1px;
}